/* form {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
} */

body {
    /* background-image: url('../public/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 auto;
    width: 100%;
    max-width: 400px; */
}

/* #root {
    background-color: #EDF4FE;
} */

.page {
    width: 100%;
    margin: 0 auto;
    background-color: #EDF4FE;
    width: 100%;
    max-width: 420px;
    background-image: url('../public/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.links {
    display: flex;
    justify-content: center;
    padding: 45px;
    gap: 15px;
    margin: 0px auto;
}

.links li {
    list-style: none;
}

.links li a {
    line-height: 1;
    text-decoration: none;
    color: black;
    border: 2px solid var(--background-color);
    border-radius: 50%;
    padding: 10px 15px;
    /* padding: 6px 10px; */
    width: auto;
}

.highlight-link {
    background-color: var(--background-color);
}

.disabled-link {
    opacity: 0.4;
}

form {
    /* display: block; */
    background-color: white;
    padding: 30px 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.buttons {
    margin-top: 80px;
    background-color: white;
    padding: 15px 20px;
    float: none;
}

.page button {
    all: unset;
    padding: 6px 10px;
    background-color: var(--main-text-color);
    color: white;
    border-radius: 5px;
    /* margin-left: auto; */
    display: block;
    transition: transform .2s ease;
}

.page button:disabled {
    opacity: 0.4;
}

.page button:not(:disabled):hover {
    transform: scale(1.1);

}

.page button:not(:disabled):active {
    transform: scale(1);
}

.page .left-button {
    float: left;
    color: var(--sub-text-color);
    background-color: transparent;
}

.page .right-button {
    float: right;
}