@font-face {
  font-family: "Ubuntu";
  src: url("../public/font/Ubuntu-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../public/font/Ubuntu-Bold.ttf");
  font-weight: bold;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

:root {
  --main-text-color: #002758;
  --sub-text-color: #9B9CA0;
  --hightlight-color: #BBE0FA;
  --background-color: #EEF5FF;
  --confirmation-color: #483EFF;
  --error-color: #FF9BA6;
}

.main-text-color {
  color: var(--main-text-color);
}

.sub-text-color {
  color: var(--sub-text-color);
}

.background-color {
  color: var(--background-color);
}

.confirmation-color {
  color: var(--confirmation-color);
}

