/* .page3 .addons > input[type="checkbox"] {
    display: none;
} */

.page3 .addons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
}

.page3 .addons > label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 15px;
    /* gap: 10px; */
}

.page3 .addons > label > div {
    display: flex;
    align-items: center;
    gap: 7px; 
}

.page3 label div p:first-child {
    font-weight: bold;
}